<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav id="menu">
         
        <li>  
        <a href="/home"> Home </a>  
        </li>  

        <li>
        <a href="/about">About</a>
        </li>

        <li>
        <a href="/works">Works</a>
        </li>

        <li>
        <a href="/gallery">Gallery</a>
        </li>
     
</nav>
<div id="main" class="row">
    <div id="bio" class="column">
        <h1>About Jheison</h1>
        <p>Jheison Huerta was born in the heart of the Peruvian Andes: Huaraz. </p>
        <p>In 2005 he concluded his university studies in Business Administration and Management in Italy. For 05 years he served as commercial manager of the prestigious MM Architecture and Communication Studio in Italy.</p>
        <p>In 2010 he returns to his homeland, Huaraz (Peru), where he opens his own communication studio called New Concept and collaborates with companies in communication consulting. At the same time, he began his preparation and training in landscape photography.</p>
        <p>Along the way, he discovers his area of ​​interest in the branch of Wide Field Astrophotography and on which he will focus his next photographic projects.</p>   

    </div>

    <div class="column">
        <img src="/images/jheison.jpeg" alt="" class="column__jheison">
    </div>
</div>
    
</body>
</html>