<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav id="menu">
         
        <li>  
        <a href="/home"> Home </a>  
        </li>  

        <li>
        <a href="/about">About</a>
        </li>

        <li>
        <a href="/works">Works</a>
        </li>

        <li>
        <a href="/gallery">Gallery</a>
        </li>
     
</nav>

<!-- The grid: four columns -->
<div class="row">
    <div class="column">
      <img src="/images/g_lake.jpeg" alt="Lake" >
    </div>
    <div class="column">
      <img src="/images/g_andes.jpeg" alt="Andes" >
    </div>
    
  </div>

  <div class="row">
    <div class="column">
        <img src="/images/g_mountain.jpeg" alt="Mountain" >
      </div>
      <div class="column">
        <img src="/images/g_uyuni.jpeg" alt="Uyuni" >
      </div>
  </div>
  
 
    

</body>
</html>