<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/works.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav id="menu">
         
        <li>  
        <a href="/home"> Home </a>  
        </li>  

        <li>
        <a href="/about">About</a>
        </li>

        <li>
        <a href="/works">Works</a>
        </li>

        <li>
        <a href="/gallery">Gallery</a>
        </li>
     
</nav>

    <h1>His work</h1>

 <div class="row">
    <div class="column">
        <h2>Astrophotography</h2>
        <img src="/images/nasa_picture.jpeg" alt="" class="column__preview">
        <p> In 2019 Jheison's work was recognised by <a href="https://apod.nasa.gov/apod/ap191022.html">NASA</a>. Amazing!</p>
    </div>
    <div class="column">
        <h2>Nature photography</h2>
        <img src="/images/nature_picture.jpeg" alt="" class="column__preview">
        <p>Since he's stablished in South America, he has a privileged access
        to the most beautiful mountains and landscapes in this region.
        </p>
    </div>

 </div> 

 <div class="row">
    <div class="column">
        <h2>Workshops</h2>
        <img src="/images/workshop.jpeg" alt="" class="column__preview">
        <p>Every year he offers amazing photo tours around the world! </p>
        <p>Places like Uyuni Salt desert, peruvian andes, Iceland and Morroco.</p>
    </div>

    <div class="column">
        <h2>Domestika online course</h2>
        <iframe class="column__preview" width="560" height="315" src="https://www.youtube.com/embed/t-IfG_LqWJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>If you're interested in learning some of Jheison's skills, you can do it online</p>
        <p>Check his online course!</p>
    </div>
    
 </div>
</body>
</html>